<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
</head>

<body>

<h2>ĐĂNG NHẬP HỆ THỐNG</h2>

<h3 th:text="${message}"></h3>

<form action="/login" method="post">
    <div>
        Email:
        <input
                type="text"
                name="username">
    </div>
    <br>
    <div>
        Password:
        <input
                type="password"
                name="password">
    </div>
    <br>
    <div>
        <input
                type="checkbox"
                name="remember-me">
        Remember me
    </div>
    <br>
    <button type="submit">
        Đăng nhập
    </button>
</form>
<hr>
<!--<h3>Tài khoản test</h3>-->
    <!--<p>user@gmail.com / 123</p>-->
<!--<p>admin@gmail.com / 123</p>-->
<!--<p>both@gmail.com / 123</p>-->
<!--<a href="/">Trang chủ</a>-->
</body>
</html>