<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Spring Security Lab 1</h1>

<h3 th:text="${message}"></h3>

<hr>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/poly/url0">URL 0</a></li>
    <li><a href="/poly/url1">URL 1</a></li>
    <li><a href="/poly/url2">URL 2</a></li>
    <li><a href="/poly/url3">URL 3</a></li>
    <li><a href="/poly/url4">URL 4</a></li>
</ul>
<br>
<h1>page: <b th:text="${message}"></b></h1>

<!--<p>User: user@gmail.com / 123</p>
<p>Admin: admin@gmail.com / 123</p>
<p>Both: both@gmail.com / 123</p>-->
</body>
</html>