<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông tin tài khoản</title>
</head>
<body>
<h3 th:if="${message}" th:text="${message}"></h3>

<div th:if="${@authService.isLogin()}">
    <hr>
    <h3>Thông tin tài khoản</h3>
    <p>
        Email:
        <b th:text="${@authService.getEmail()}"></b>
    </p>
    <a href="/logout">Đăng xuất</a>
</div>

<div th:unless="${@authService.isLogin()}">
    <hr>
    <a href="/login/form">Đăng nhập</a>
</div>
</body>
</html>
